<!DOCTYPE html>
<html>
<head>

	 <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Convert your text to mp3 with just few steps">
    <meta name="keywords" content="Amazon polly,transform text to speech,aws polly">
    <meta property="og:url"                content="#" />
    <meta property="og:type"               content="website" />
    <meta property="og:title"              content="Pollyongo   " />
    <meta property="og:description"        content="Amazon polly,converting text to mp3 and play on the go"/>
    <meta property="og:image"              content="https://d2908q01vomqb2.cloudfront.net/f1f836cb4ea6efb2a0b1b99f41ad8b103eff4b59/2017/11/24/polly-social.jpg"/>
	<title class="red">Pollyongo</title>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.42/css/uikit.min.css"/>
<link rel="stylesheet" type="text/css" href="https://s3.amazonaws.com/pollyongoassest/materialize.min.css">
<link rel="stylesheet" type="text/css" href="app.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.42/js/uikit.min.js"></script>

</head>
<body>
  

    <div class="navbar-fixed">
    <nav class="bg-color">
      <div class="nav-wrapper">
<a href="#!" class="brand-logo"><span class="red-text">P</span><span class="grey-text">o</span><span class="orange-text">l</span><span class="orange-text">l</span><span class="orange-text">y</span><span class="orange-text">o</span><span class="grey-text">n</span><span class="red-text">g</span><span class="red-text">o</span></a>
      </div>
    </nav>
  </div>



  <div class="uk-offcanvas-content">
    <div id="offcanvas-overlay" uk-offcanvas="overlay: true">
        
    </div>

</div>

 


   
   <div class="container" id="home">
   	<div class="photo-frame z-depth-4 row">
      <div class="col s12 m6">
        <img src="https://s3.amazonaws.com/pollyongoassest/above1.jpg"  alt="freepik">
      </div>
      <div class="col s12 m6 ">
         <h5 class="welcome-text"><span class="red-text">P</span><span class="grey-text">o</span><span class="orange-text">l</span><span class="orange-text">l</span><span class="orange-text">y</span><span class="orange-text">o</span><span class="grey-text">n</span><span class="red-text">g</span><span class="red-text">o</span></h5>
        <p>Pollyongo is a serverless web application that convert your text to audio.
         
        <ol>
           <p>How it works:</p>
          <li>Choose a voice</li>
          <li>Type or paste your text in the textarea</li>
          <li>Press the get Audio button</li>
          <li>Click the next button to get to the search area</li>
          <li>Hit the search button and your generated Audio appears</li>
          <li>You can either Play or Download your Audio</li>
        </ol>
        </p>

        <a href="#egine" class="uk-button uk-button-default hoverable white-text light-bluex shit-dnwx" uk-scroll="2000">Get Started</a>
      </div>

    </div>
   </div>  <!-- end of first frame -->

     


   <div class="container" id="egine" >
    <div class="text-frame z-depth-4 grey-shade row" >
     


            <div class="input-field center-align">

             <div class="chip grey white-text hide" id="preloader">
               <img src="https://s3.amazonaws.com/pollyongoassest/map1.jpg" alt="">
               Generating audio ,hold on....
             </div>

             <div class="chip orange base">min:0</div>
             <div class="chip grey base">max:1000</div>
             <div class="chip yellow base" id="charCounter">Characters: 0</div>
          
           </div>



     <div class="input-field col s12 l12 m12 shit-dnw">

      <select id="voiceSelected" >
        <option value="0" label="Select a country … " selected="selected">Select Voice / Accent</option>
        <option value="Ivy">Ivy [English - American]</option>
        <option value="Joanna">Joanna [English - American]</option>
        <option value="Joey">Joey [English - American]</option>
        <option value="Justin">Justin [English - American]</option>
        <option value="Kendra">Kendra [English - American]</option> 
        <option value="Kimberly">Kimberly [English - American]</option>
        <option value="Salli">Salli [English - American]</option>
        <option value="Nicole">Nicole [English - Australian]</option>
        <option value="Russell">Russell [English - Australian]</option>
        <option value="Emma">Emma [English - British]</option>
        <option value="Brian">Brian [English - British]</option>
        <option value="Amy">Amy [English - British]</option>
        <option value="Raveena">Raveena [English - Indian]</option>        
        <option value="Geraint">Geraint [English - Welsh]</option>
        <option value="Ricardo">Ricardo [Brazilian Portuguese]</option>
        <option value="Vitoria">Vitoria [Brazilian Portuguese]</option>
        <option value="Lotte">Lotte [Dutch]</option>
        <option value="Ruben">Ruben [Dutch]</option>
        <option value="Mathieu">Mathieu [French]</option>
        <option value="Celine">Celine [French]</option>
        <option value="Chantal">Chantal [Canadian French]</option>
        <option value="Marlene">Marlene [German]</option>
      <option value="Dora">Dora [Icelandic]</option>
      <option value="Karl">Karl [Icelandic]</option>
        <option value="Carla">Carla [Italian]</option>
        <option value="Giorgio">Giorgio [Italian]</option>
        <option value="Mizuki">Mizuki [Japanese]</option>
        <option value="Liv">Liv [Norwegian]</option>
        <option value="Maja">Maja [Polish]</option>
        <option value="Jan">Jan [Polish]</option>
      <option value="Ewa">Ewa [Polish]</option>
      <option value="Cristiano">Cristiano [Portuquese]</option>
        <option value="Ines">Ines [Portuquese]</option>
        <option value="Carmen">Carmen [Romanian]</option>
        <option value="Maxim">Maxim [Russian]</option>
        <option value="Tatyana">Tatyana [Russian]</option>
        <option value="Enrique">Enrique [Spanish]</option>
        <option value="Penelope">Penelope [US Spanish]</option>
        <option value="Enrique">Miguel [US Spanish]</option>
        <option value="Conchita">Conchita [Castilian Spanish]</option>
        <option value="Astrid">Astrid [Swedish]</option>
        <option value="Filiz">Filiz [Turkish]</option>
        <option value="Gwyneth">Gwyneth [Welsh]</option>  
      </select>

    </div>

            
          
       <div class="input-field col s12 l12 m12 shit-dnwx" >
          <textarea id="postText" class="materialize-textarea"></textarea>
          <label for="postText">TYPE YOUR NOTE HERE</label>
         

            <button class="uk-button uk-button-default right white-text green shit-dnwx" id="sayButton" >Get audio</button>
            <a class="uk-button uk-button-default right white-text red shit-dnwx hide " id="next" href="#get" uk-scroll="2000" >Next</a>
                
         </div>
          

    </div>
  </div>


   <div class="container" id="get">
      <div class="audio_frame z-depth-4 maybegrey-shade row">
        <div class="col m4 l4 s12 maybegrey-shade">
          <img src="https://s3.amazonaws.com/pollyongoassest/above2.jpg" alt="cassette" class="responsive-img shift-img">
        </div>
         <div class="col m8 l8 s12 row">
          <div id="search">
             Hit the Search button: <input type="text" id="postId" value=""> <input type="submit" class="uk-button uk-button-default right white-text green" value="Search" id="searchButton">
          </div>
           <div class="input-field col s12 l12 m12 shit-dnwx" >
                 <div id="ode"></div>
           </div>  
         </div>
      </div>
   </div> 
   
   
 
     
</body>
<script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>
  <script type="text/javascript" src="https://s3.amazonaws.com/pollyongoassest/uikit.min.js"></script>
  <script type="text/javascript" src="https://s3.amazonaws.com/pollyongoassest/materialize.min.js"></script>
  <script  type="text/javascript" src="scripts.js"></script>
</html>